.v-btn {
    margin: 5px;
}

.v-date-picker {
    margin: 5px;
}

.v-alert {
    margin: 5px;
}

.error-message {
    color: #ff5252;
}

.background-image {
    background-image: url('./watercolor-gb36fdd7ef_1280.jpg');
    background-size: cover;
    background-position: center;  
}